PoSDllResolver/ipch/
PoSDllResolver/Debug/
PoSDllResolver/PoSDllResolver/Release
PoSDllResolver/PoSDllResolver.VC.db
PoSDllResolver/PoSDllResolver.VC.VC.opendb
PoSDllResolver/PoSDllResolver/Debug/
PoSDllResolver/.vs/
